{% url 'home' as home %}
{% url 'front' as blog %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if request.path == home %}
                <a id='nav-page-top' class="navbar-brand" href="#page-top">&lt;RM&gt; Ryan &lt;/RM&gt;</a>
            {% elif request.path == blog %}
                <a id='nav-page-top' class="navbar-brand" href="{% url 'front' %}">&lt;AT&gt; Azure &lt;/AT&gt;</a>
            {% else %}
                <a id='nav-page-top' class="navbar-brand" href="#page-top">&lt;RM&gt; Ryan &lt;/RM&gt;</a>
            {% endif %}
            
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    {% if request.path == home %}
                        <a id='nav-portfolio' href="#portfolio">
                    {% else %}
                        <a id='nav-portfolio' href="{% url 'home' %}#portfolio">
                    {% endif %}
                    Portfolio</a>
                </li>
                <li class="page-scroll">
                    {% if request.path == home %}
                        <a id='nav-about' href="#about">
                    {% else %}
                        <a id='nav-about' href="{% url 'home' %}#about">
                    {% endif %}
                    About</a>
                </li>
                <li class="page-scroll">
                    {% if request.path == home %}
                        <a id='nav-blog' href="#blog">
                    {% else %}
                        <a id='nav-blog' href="{% url 'front' %}">
                    {% endif %}

                    Blog</a>
                </li>
                <li class="page-scroll">
                    {% if request.path == home %}
                        <a id='nav-contact' href="#contact">
                    {% else %}
                        <a id='nav-contact' href="{% url 'home' %}#contact">
                    {% endif %}

                    Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
