body {
    /*margin-top: 80px;*/
    /*margin-bottom: 120px;*/
}

.top-space {
    margin-top: 80px;
}

.bottom-space {
    margin-bottom: 120px;
}

/*START LOGGED IN BUTTON*/

#logged-in-badge {
    z-index: 1000;
    position: fixed;
    top: 63px;
    left: 3px;
}

#new-post-badge {
    z-index: 900;
    position: fixed;
    top: 63px;
    left: 3px;
    /*needs to be top 110px*/
    /*needs to be left 51px*/
    /*uses dropdown1*/
}

#logout-badge {
    z-index: 800;
    position: fixed;
    top: 63px;
    left: 3px;
    /*needs to be top 157px*/
    /*needs to be left 67px*/
    /*uses dropdown2*/
}

.grow {
    -webkit-animation-name: grow;
    -webkit-animation-duration: 1s;
    /*animation-delay: 1s;*/
    -webkit-animation-iteration-count: 1;
    /*animation-timing-function: linear;*/
    -webkit-animation-fill-mode: forwards;
}

.dropdown1 {
    -webkit-animation-name: dropdown1;
    -webkit-animation-duration: .5s;
    animation-delay: .5s;
    -webkit-animation-iteration-count: 1;
    /*animation-timing-function: linear;*/
    -webkit-animation-fill-mode: forwards;
}

.dropdown2 {
    -webkit-animation-name: dropdown2;
    -webkit-animation-duration: .5s;
    animation-delay: .5s;
    -webkit-animation-iteration-count: 1;
    /*animation-timing-function: linear;*/
    -webkit-animation-fill-mode: forwards;
}

.pullup1 {
    -webkit-animation-name: pullup1;
    -webkit-animation-duration: .5s;
    /*animation-delay: 1s;*/
    -webkit-animation-iteration-count: 1;
    /*animation-timing-function: linear;*/
    -webkit-animation-fill-mode: forwards;
}

.pullup2 {
    -webkit-animation-name: pullup2;
    -webkit-animation-duration: .5s;
    /*animation-delay: 1s;*/
    -webkit-animation-iteration-count: 1;
    /*animation-timing-function: linear;*/
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes grow {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes dropdown1 {
    0% {
        top:63px;
        left:3px;
    }
    100% {
        top: 110px;
        left: 51px;
    }
}

@-webkit-keyframes dropdown2 {
    0% {
        top:63px;
        left:3px;
    }
    100% {
        top: 157px;
        left:67px;
    }
}

@-webkit-keyframes pullup1 {
    0% {
        top:110px;
        left:51px;
    }
    100% {
        top: 63px;
        left:3px;
    }
}

@-webkit-keyframes pullup2 {
    0% {
        top:157px;
        left:67px;
    }
    100% {
        top: 63px;
        left:3px;
    }
}

/*START STALKME SECTION*/

#social-badge {
    z-index: 1000;
    position: fixed;
    top: 100px;
    right: 43px;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: top right;
    background-color: rgba(0,0,0,0.65);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.social-in {
    -webkit-animation-name: social-in;
    -webkit-animation-duration: .1s;
    /*animation-delay: 2s;*/
    -webkit-animation-iteration-count: 1;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
}

.social-out {
    -webkit-animation-name: social-out;
    -webkit-animation-duration: .1s;
    /*animation-delay: 1s;*/
    -webkit-animation-iteration-count: 1;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes social-out {
    0% {
        right: 43px;
    }
    100% {
        right:378px;
    }
}

@-webkit-keyframes social-in {
    0% {
        right: 378px;
    }
    100% {
        right:43px;
    }
}

#social-badge li a {
    -webkit-transform: rotate(90deg);
}

#social-badge ul {
    padding-left: 20px;
}

#social-badge-button {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.rotate1 {
    -webkit-animation-name: rotate1;
    -webkit-animation-duration: 1s;
    animation-delay: .1s;
    -webkit-animation-iteration-count: 1;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rotate1 {
    from {
        transfrom: rotate(90deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.rotate2 {
    -webkit-animation-name: rotate2;
    -webkit-animation-duration: 1s;
    animation-delay: .2s;
    -webkit-animation-iteration-count: 1;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rotate2 {
    from {
        transfrom: rotate(90deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.rotate3 {
    -webkit-animation-name: rotate3;
    -webkit-animation-duration: 1s;
    animation-delay: .3s;
    -webkit-animation-iteration-count: 1;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rotate3 {
    from {
        transfrom: rotate(90deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.rotate4 {
    -webkit-animation-name: rotate4;
    -webkit-animation-duration: 1s;
    animation-delay: .4s;
    -webkit-animation-iteration-count: 1;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rotate4 {
    from {
        transfrom: rotate(90deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.rotate5 {
    -webkit-animation-name: rotate5;
    -webkit-animation-duration: 1s;
    animation-delay: .5s;
    -webkit-animation-iteration-count: 1;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rotate5 {
    from {
        transfrom: rotate(90deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

footer {
    /* settings for the position of the footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 86px;
}

html { /* sticks the footer to the bottom */
  position: relative;
  min-height: 100%;
}

.hr-divider {
    width: 50%;
    border-color: #2c3e50;
    border-width: 5px;
}

.about-section {
    text-align: center;
}

.about-sidebar {
    
}

header .intro-text .main-title {
    font-size: 70px;
}

#portfolio h1,
#portfolio h2,
#portfolio h3,
#portfolio h4,
#portfolio h5,
#portfolio h6 {
    text-align: center;
    padding-bottom: 10px;
}

#portfolio img {
    border: 4px solid #2c3e50;
}

.modal-body img {
    border: 4px solid #2c3e50;
}

section.success {
    background-color: #0C888B;
}

section.success .btn {
    color: white;
}

button#contact_btn {
    background-color: #0C888B;
    border-color: white;
    font-size: 25px;
    border-width: 2px;
}

button#contact_btn:focus {
    outline: none;
}

#portfolio .portfolio-item .portfolio-link {
    max-width: 500px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #0C888B;
}

.live-links {
    font-size: 18px;
    text-align: center;
    /*padding-left: 115px;*/
}

.blog-link {
    float: right;
}

@media(max-width:768px) {
    header .intro-text .main-title {
        font-size: 50px;
    }

    .hr-divider {
        width: 80%;
    }

    #bs-example-navbar-collapse-1 {
        position: relative;
        z-index: 1050;
    }
}

@media(max-width:990px) {
    .hr-divider {
        width: 70%;
    }
}
