.hr-divider {
    width: 50%;
    border-color: #2c3e50;
    border-width: 5px;
}

.about-section {
    text-align: center;
}

header .intro-text .main-title {
    font-size: 70px;
}

#portfolio h1,h2,h3,h4,h5,h6 {
    text-align: center;
    padding-bottom: 10px;
}

#portfolio img {
    border: 4px solid #2c3e50;
}

.modal-body img {
    border: 4px solid #2c3e50;
}

section.success {
    background-color: #0C888B;
}

section.success .btn {
    color: white;
}

button#contact_btn {
    background-color: #0C888B;
}

#portfolio .portfolio-item .portfolio-link {
    max-width: 500px;
}

@media(max-width:768px) {
    header .intro-text .main-title {
        font-size: 50px;
    }

    .hr-divider {
        width: 80%;
    }
}

@media(max-width:990px) {
    .hr-divider {
        width: 70%;
    }
}
