{% load staticfiles %}

<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Blog</h2>
                <hr class="hr-divider">

                <div id='post-previews'></div>
                        
            </div>
        </div>
        <div class="row blog-section">
            <div class="col-xs-12">
                <p class='blog-link'>
                    <a href="{% url 'blog:front' %}" target='blank'>Go To the Blog
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
