{% extends  'base.html' %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock css %}

{% block content %}

    <div id='social-badge' class="closed">
        <button id='social-badge-button' class="btn btn-primary">
            Stalk Me
        </button>
        <ul style='list-style-type:none'>
            <li id='github-link'>
                <a href="https://github.com/azuretower" class="btn-social btn-outline" target='blank'><i class="fa fa-fw fa-github"></i></a>
            </li>
            <li id='facebook-link'>
                <a href="https://www.facebook.com/ryan.merrill.7" class="btn-social btn-outline" target='blank'><i class="fa fa-fw fa-facebook"></i></a>
            </li>
            <li id='email-link'>
                <a href="mailto:ryan.merrill215@gmail.com" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope-o"></i></a>
            </li>
            <li id='twitter-link'>
                <a href="https://twitter.com/AzureTower" class="btn-social btn-outline" target='blank'><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li id='linkedin-link'>
                <a href="https://www.linkedin.com/in/ryancmerrill" class="btn-social btn-outline" target='blank'><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
        </ul>
    </div>

    <!-- Header -->
    {% include 'header.html' %}

    <!-- Portfolio Grid Section -->
    {% include 'portfolio.html' %}

    <!-- About Section -->
    {% include 'about.html' %}

    <!-- Blog Section -->
    {% include 'blog.html' %}
    
    <!-- Contact Section -->
    {% include 'contact.html' %}

    <!-- Footer -->
    

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Django Message Board</h2>
                            <hr class="hr-divider">
                            <img src="{% static 'img/portfolio/message_app.png' %}" class="img-responsive img-centered" alt="Screen shot of Message Board front page">
                            <p>This was my first real project written in Django. It is a single room message board that allows users to make accounts and post messages.</p>
                            <ul class="list-inline item-details">
                                <li>GitHub:
                                    <strong>
                                        <a href="https://github.com/azuretower/message_board">message_board</a>
                                    </strong>
                                </li>
                                <li>Live Version:
                                    <strong>
                                        <a href="http://message.ryanmerrill.me">message.ryanmerrill.me</a>
                                    </strong>
                                </li>
                            </ul>
                            {# <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Recipe Ingredient Scaler</h2>
                            <hr class="hr-divider">
                            <img src="{% static 'img/portfolio/recipe_main.png' %}" class="img-responsive img-centered" alt="The front page, shows list of recipes">
                            <img src="{% static 'img/portfolio/recipe_details.png' %}" class="img-responsive img-centered" alt="details page, allows scaling of ingredients">
                            <p>This project allows users to store recipes and search through them based on several key points, the most interesting is searching by ingredients. You can enter a commna seperated list of ingredents and it will return the recipes that have those ingredients, sorted based on how many matches there were.</p>
                            <ul class="list-inline item-details">
                                <li>GitHub:
                                    <strong>
                                        <a href="https://github.com/thejqs/recipes">recipes</a>
                                    </strong>
                                </li>
                                <li>Live Version:
                                    <strong>
                                        <a href="http://recipe.ryanmerrill.me">recipe.ryanmerrill.me</a>
                                    </strong>
                                </li>
                            </ul>
                            {# <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            {# <img src="{% static 'img/portfolio/circus.png' %}" class="img-responsive img-centered" alt=""> #}
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            {# <img src="{% static 'img/portfolio/game.png' %}" class="img-responsive img-centered" alt=""> #}
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            {# <img src="{% static 'img/portfolio/safe.png' %}" class="img-responsive img-centered" alt=""> #}
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            {# <img src="{% static 'img/portfolio/submarine.png' %}" class="img-responsive img-centered" alt=""> #}
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>
    <script type="text/javascript" src='{% static "js/blog.js" %}'></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script>
        $(document).ready(loadPreviews(page, page_size-1));
    </script>
});
{% endblock js %}
